@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Rokkitt:ital,wght@0,200;0,400;0,600;0,800;1,200;1,600;1,800&display=swap");

:root {
  --fontArchivo: "Archivo", serif;
  --fontRokkitt: "Rokkitt", sans-serif;
  --beige: #debe90;
  --lightBeige: #dec8b8;
  --lightMustard: #dbce88;
  --mustard: #dbb860;
  --yellow: #dbd660;
  --slateBrown: #594d3a;
  --darkBrown: #2b2413;
  --blue: #549ec3;
}

img {
  -webkit-tap-highlight-color: transparent; /* removes blue highlight on click */
}

body {
  margin: 0;
  font-family: var(--fontArchivo);
  background-color: var(--darkBrown);
  color: var(--lightMustard);
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: var(--slateBrown);
  font-family: var(--fontRokkitt);
}

h1 {
  text-align: center;
  font-family: var(--fontRokkitt);
}

h2 {
  font-family: var(--fontRokkitt);
}

h3 {
  font-family: var(--fontRokkitt);
}

h4 {
  font-family: var(--fontRokkitt);
}

header h1 {
  margin-top: 0;
  font-size: 7em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid var(--mustard);
  padding-top: 5px;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  color: var(--lightMustard);
}

a:hover {
  color: var(--mustard);
  text-decoration: underline;
}

header h2 {
  margin-top: -6%;
}

form h2 {
  font-family: var(--fontRokkitt);
}

main {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  font-size: 1.2em;
  font-family: var(--fontRokkitt);
  background-color: var(--lightMustard);
}

option {
  font-family: var(--fontRokkitt);
}

label {
  font-family: var(--fontRokkitt);
  font-size: 1.2em;
}

.heroNameInput {
  background-color: var(--lightMustard);
  font-family: var(--fontRokkitt);
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  cursor: pointer;
  font-size: 1.2em;
  font-family: var(--fontRokkitt);
}

label {
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 10%;
  text-align: center;
  font-family: var(--fontRokkitt);
  border-top: 2px solid var(--mustard);
  padding: 5px;
}

.aboutPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}

.levelUpBox {
  margin-bottom: 2%;
  font-family: var(--fontRokkitt);
}

.levelUpBox p {
  font-size: 1.1em;
}

.heroMainWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.levelUpBox,
.myHeroWrap,
.characterCreateWrap {
  background-color: var(--mustard);
  color: var(--darkBrown);
  padding: 2%;
  width: fit-content;
  height: fit-content;
  border: 5px solid var(--lightMustard);
}

.charStats {
  width: 250px;
}

.shopContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
}

.shopContainer form {
  align-items: normal;
}

.shopGridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shopItems {
  background-color: var(--mustard);
  border: 5px solid var(--lightMustard);
  color: var(--darkBrown);
  padding: 2%;
  height: fit-content;
}

.category {
  display: none;
  text-align: left;
}

.category h2 {
  text-align: center;
}

.items {
  list-style: none;
  margin-left: 0;
}

.item {
  text-align: left;
}

.vendorImg {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--mustard);
  border: 5px solid var(--lightMustard);
  color: var(--darkBrown);
  padding: 2%;
  height: fit-content;
  text-align: center;
  font-family: var(--fontRokkitt);
  font-style: italic;
  font-size: 1.2em;
  font-weight: 600;
}

.vendorImg button {
  width: fit-content;
  margin: 0 auto;
}

.vendorBackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vendorBack {
  background-color: var(--slateBrown);
  margin-top: 5%;
  width: fit-content;
  padding: 5% 10% 5% 10%;
}

.playerShopInfo {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  background-color: var(--mustard);
  border-left: 10px solid var(--lightMustard);
  color: var(--darkBrown);
}

.playerShopInfo h3 {
  margin: 0;
}

.playerShopInfo p {
  margin: 0;
  font-family: var(--fontRokkitt);
  font-weight: 400;
  font-size: 1em;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarSelect {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.avatarImage {
  border-radius: 50%;
  filter: grayscale(80%);
  cursor: pointer;
}

.avatarImage:hover {
  filter: grayscale(0%);
}

.avatarImage.selected {
  filter: grayscale(0%); /* Remove greying out for the selected image */
}

.avatarImage.hover {
  filter: grayscale(0%); /* Remove greying out on hover even if selected */
}

.heroAvatar {
  border-radius: 50%;
}

.monsterSelect {
  background-color: var(--mustard);
  color: var(--darkBrown);
  padding: 2%;
}

.combatLog {
  background-color: var(--lightMustard);
  padding: 10px;
}

.combatText {
  font-family: var(--fontRokkitt);
  color: var(--darkBrown);
}

.graveyardImg {
  margin-bottom: 1%;
}

@media only screen and (max-width: 900px) {
  header h1 {
    font-size: 5em;
  }

  .avatarSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .avatar {
    box-sizing: border-box;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .shopContainer {
    flex-direction: column;
  }

  .graveyardImg {
    max-width: 90%;
    height: auto;
  }

  .heroMainWrap {
    display: block;
  }

  .charStats {
    font-size: 1em;
    width: 200px;
    margin-top: 2%;
  }

  .aboutPageContainer {
    max-width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 4em;
  }

  footer {
    font-size: 0.8em;
  }

  .avatarSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .avatar {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  .avatar img {
    max-width: 100%;
    height: auto;
  }

  .aboutPageContainer {
    max-width: 80%;
  }
}
